/* Here we've use the grid-template-areas, because the overall layout is static! Everything inside though, that's a different story
 */
 #chat{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 15fr 1fr;
  grid-template-areas: 
  "f c"
  "f i";
  font-family:"Shantell Sans";
}

#friends{
  grid-area: f;
  display: grid;
  background-color: rgb(142, 84, 196);
}

#chatbox{
  grid-area: c;
  display: grid;
}

#input{
  grid-area: i;
  display: grid;
  grid-template-columns: 5fr 1fr;
}
.name{
  margin: 0 2%;
  padding-left: 2%;
  display: flex;
  align-items: center;
  height: 2rem;
  background-color: rgb(154, 118, 189);
}
.head-friends{
 margin-left: 3%;
}

.text-container{
  display: grid;
  grid-template-columns: 95% 5%;
  background-color: rgb(206, 201, 201);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  height: 30%;
  max-width: 20%;
}

.text, .time{
  display: inline-block;
  margin: 0;
}

.text{
  align-self: center;
}
.time{
  font-size: 0.7rem;
  justify-self: end;
  align-self: end;
}

.right{
  background-color: rgb(30, 181, 30);
  justify-self: right;
}
.left{
  justify-self: left;
}

.button{
  background-color:  rgb(142, 84, 196);
  color: white;
  display: grid;
 text-align: center;
 align-items: center;
}